@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<section class="intro-section">
    <div class="home-slider slide-animate owl-carousel owl-theme owl-carousel-lazy dot-inside">
        <div class="home-slide banner active"
             style="background-image: url('assets/images/demoes/demo21/slider/slider5.png');">
            <div class="banner-layer banner-layer-middle">
                <div class="container banner-content">
                    <h2 class="font1 font-weight-normal text-uppercase mb-0 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="200" style="color: #FFF;">
                        introducing the new
                    </h2>
                    <h1 class="font1 font-weight-bold text-uppercase appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="500">
                        ACME <br>Duffel Bag 
                    </h1>
                    <h2 class="font1 font-weight-normal text-uppercase mb-3 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="800" style="color: #FFF;">
                        Waterproof, Canvas<br>
                        <strong>Built-in Phone Charger</strong>
                    </h2>
                    <a class="btn btn-dark btn-buy appear-animate" data-animation-name="fadeInUpShorter"
                       data-animation-delay="1100" href="/product" id="viewproduct">VIEW PRODUCT</a>
                </div>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->

        <div class="home-slide banner"
             style="background-image: url('assets/images/demoes/demo21/slider/slide2.jpg');">
            <div class="banner-layer banner-layer-middle">
                <div class="container banner-content">
                    <h2 class="font1 font-weight-normal text-uppercase mb-0 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="200">
                        amazing deals
                    </h2>
                    <h1 class="font1 font-weight-bold text-uppercase appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="500">
                        smartphone
                    </h1>
                    <h2 class="font1 font-weight-normal text-uppercase mb-3 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="800">
                        from
                        <strong>$199</strong>
                    </h2>
                    <a class="btn btn-dark btn-buy appear-animate" data-animation-name="fadeInUpShorter"
                       data-animation-delay="1100" href="product" id="viewproduct">BUY NOW</a>
                </div>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->

        <div class="home-slide banner"
             style="background-image: url('assets/images/demoes/demo21/slider/slide3.jpg');">
            <div class="banner-layer banner-layer-middle">
                <div class="container banner-content">
                    <h2 class="font1 font-weight-normal text-uppercase mb-0 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="200">
                        best price of the
                        year
                    </h2>
                    <h1 class="font1 font-weight-bold text-uppercase appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="500">
                        top accessories
                    </h1>
                    <h2 class="font1 font-weight-normal text-uppercase mb-3 appear-animate"
                        data-animation-name="fadeInUpShorter" data-animation-delay="800">
                        from
                        <strong>$19</strong>
                    </h2>
                    <a class="btn btn-dark btn-buy appear-animate" data-animation-name="fadeInUpShorter"
                       data-animation-delay="1100" href="product" id="viewproduct">BUY NOW</a>
                </div>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->
    </div>

    <div class="home-slider-sidebar d-none d-sm-block">
        <div class="container">
            <ul>
                <li style="color: #fff">Gear</li>
                <li style="color: #FFF">Packs</li>
                <li style="color: #FFF">Electronics</li>
                <li style="color: #FFF">Appliances</li>
            </ul>
        </div>
        <div id="kopilot-chat-container"></div>
    </div>
</section>

<section class="featured-products-section appear-animate" data-animation-name="fadeIn"
         data-animation-delay="200">
    <div class="container">
        <h2 class="section-title ls-n-10 pb-3 m-b-4">Shop ACME Specials</h2>
        <div class="row no-gutters">
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product" class="disabled">
                            <img src="assets/images/demoes/demo21/products/product-1.jpg" width="217"
                                 height="217" alt="product">
                            <img src="assets/images/demoes/demo21/products/product-1-2.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot">HOT</div>
                            <div class="product-label label-sale">-12%</div>
                        </div>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart disabled">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category disabled">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish disabled">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product" class="disabled">Cannondale Catalyst 1</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$689</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product" class="disabled">
                            <img src="assets/images/demoes/demo21/products/product-2.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart disabled">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category disabled">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish disabled">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product" class="disabled">Lineage Ruck 37l Backpack</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$699</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product" class="disabled">
                            <img src="assets/images/demoes/demo21/products/product-3.jpg" width="217"
                                 height="217" alt="product">
                            <img src="assets/images/demoes/demo21/products/product-3-2.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot">HOT</div>
                            <div class="product-label label-sale">-32%</div>
                        </div>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart disabled">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category disabled">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish disabled">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product" class="disabled">Homestead Shelter</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$524</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product" class="disabled">
                            <img src="assets/images/demoes/demo21/products/product-4.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot">HOT</div>
                            <div class="product-label label-sale">-13%</div>
                        </div>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart disabled">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category disabled">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish disabled">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product" class="disabled">Blue Kazoo</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:0%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$315.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product">
                            <img src="assets/images/demoes/demo21/products/product-5.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product">Berkeley Duffel</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:90%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$79.00</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <div class="product-default inner-quickview inner-icon">
                    <figure>
                        <a id="viewitem" href="/product" class="disabled">
                            <img src="assets/images/demoes/demo21/products/product-6.jpg" width="217"
                                 height="217" alt="product">
                        </a>
                        <div class="btn-icon-group">
                            <a href="/product" class="btn-icon btn-add-cart disabled">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="category-wrap">
                            <div class="category-list">
                                <a href="javascript:void(0)" class="product-category disabled">category</a>
                            </div>
                            <a href="javascript:void(0)" title="Add to Wishlist" class="btn-icon-wish disabled">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a id="viewitem" href="/product" class="disabled">Ironman 50-Lap Sleek Watch</a>
                        </h3>
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                                <span class="tooltiptext tooltip-top"></span>
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->
                        <div class="price-box">
                            <span class="product-price">$229</span>
                        </div><!-- End .price-box -->
                    </div><!-- End .product-details -->
                </div>
            </div>
        </div>
    </div>
</section>

<input id="contactId" type="hidden" value="@(ViewData["ContactId"]==null?"":ViewData["ContactId"].ToString())" />

@section Scripts{

}
