@page
@model DataCloudDemo.Pages.order_confirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-10" style="margin-top:2%;align-content:center;">
            <div class="card">
                <div class="card-header">
                    <div class="text-left logo p-2 px-5">
                        <img src="~/assets/images/sticky-logo.png" width="50" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="invoice p-5">
                        <h5>Your order Confirmed!</h5>
                        <span class="font-weight-bold d-block mt-4">Hello,</span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>
                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Order Date</span>
                                                <span id="todayDate"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2"> <span class="d-block text-muted">Order No</span> <span id="orderNo"></span> </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Payment</span> <span>
                                                    <img src="~/assets/images/payments/payment-visa.svg" width="20">
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="py-2">
                                                <span class="d-block text-muted">Shipping Address</span> <span id="shipAddr"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="product border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td width="20%">
                                            <img src="assets/images/products/product-1.jpg" alt="product"
                                                 width="80" height="80">
                                        </td>
                                        <td width="60%">
                                            <span class="font-weight-bold">Homestead Shelter</span>
                                            <div class="product-qty"> <span class="d-block">Quantity:1</span></div>
                                        </td>
                                        <td width="20%" align="center">
                                            <div class="text-right"> <span class="font-weight-bold">$524</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%">
                                            <img src="assets/images/products/product-2.jpg" alt="product"
                                                 width="80" height="80">
                                        </td>
                                        <td width="60%">
                                            <span class="font-weight-bold">Berkeley Duffel</span>
                                            <div class="product-qty"> <span class="d-block">Quantity:1</span></div>
                                        </td>
                                        <td width="20%" align="center">
                                            <div class="text-right"> <span class="font-weight-bold">$79</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%">
                                            <img src="assets/images/products/product-3.jpg" alt="product"
                                                 width="80" height="80">
                                        </td>
                                        <td width="60%">
                                            <span class="font-weight-bold">Blue Kazoo</span>
                                            <div class="product-qty"> <span class="d-block">Quantity:1</span></div>
                                        </td>
                                        <td width="20%" align="center">
                                            <div class="text-right"> <span class="font-weight-bold">$315</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody class="totals">
                                        <tr>
                                            <td>
                                                <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                            </td>
                                            <td>
                                                <div class="text-right"> <span>$918.00</span> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                            </td>
                                            <td>
                                                <div class="text-right"> <span>Free</span> </div>
                                            </td>
                                        </tr>
                                        <tr class="border-top border-bottom">
                                            <td>
                                                <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
                                            </td>
                                            <td>
                                                <div class="text-right"> <span class="font-weight-bold">$199.97</span> </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                        <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                        <span>ACME Corp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            jQuery("#orderNo").html('PI' + Math.floor(100000 + Math.random() * 900000) + 1);
            if ($("#timezones") && $("#timezones").closest("div.header-dropdown")) {
                let timezone = jQuery("a[id='selectedTZ']").text();
                jQuery("#todayDate").html(moment.utc().tz(timezone).format("DD-MM-YYYY HH:mm:ss A"));
            }
            jQuery("#shipAddr").html('#100, 2nd Avenue, ' + jQuery("#countries").closest("div.header-dropdown").find("a:eq(0)").text());
        });
    </script>
}